{% extends 'base.html' %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h2 class="text-uppercase">Checkout form</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">

            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Cart</span>
                <span class="badge bg-info badge-pill">{{ objects.cart_products.count }}</span>
            </h4>
            <ul class="list-group mb-3 bg-dark">
                {% for item in objects.cart_products.all %}
                <li class="list-group-item d-flex justify-content-between text-light lh-condensed"
                    style="background-color:#0a364e;">
                    <div>
                        <h6 class="my-0">{{ item.products.title }}</h6>
                        <small class="text-muted">Price: {{ item.products.price }}</small>
                        <small><i class="fas fa-times text-info"></i></small>
                        <small class="text-muted">{{ item.quantity }}</small>
                    </div>
                    <span class="text-muted">{{ item.total_price }} BDT</span>
                </li>
                {% endfor %}

                <li class="list-group-item d-flex justify-content-between text-light" style="background-color:#0a364e;">
                    <span>Total (BDT)</span>
                    <strong>{{ objects.get_total_price }} BDT</strong>
                </li>
            </ul>


        </div>
        <div class="col-md-8 order-md-1 form-group">
            <h4 class="mb-3">Shipping and Billing Address</h4>

            <form action="" method="post" class="needs-validation" id="payment-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" name="customer_name" id="Name" placeholder=""
                               value="{{ user.first_name }}"
                               required>
                        <!-- {{ form.customer_name }}-->
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="num">Contact No</label>
                        <!--<input type="text" name="num" class="form-control" value="" id="num">-->
                        {{ form.contact_no }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label for="country">Country <span class="text-muted">(Optional)</span></label>
                        <!--                        <input type="text" name="Country" class="form-control" value="" id="Country">-->
                        {{ form.country }}
                    </div>
                    <div class="col-md-6 mb-2">
                        <label>Zip COde <span class="text-muted">(Optional)</span></label>
                        <!--                        <input type="text" name="Zip" class="form-control" value="" id="Zip">-->
                        {{ form.zip }}
                    </div>
                </div>
                <div class="mb-2">
                    <label>Address</label>
                    <!--                    <textarea name="address" class="form-control" id="address" placeholder="" required>-->
                    <!--                        </textarea>-->
                    {{ form.street_address }}
                </div>
                <br>
                <h5>Payment Option</h5>
                {% for value, name in form.fields.payment.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment" id="{{ name }}"
                           value="{{ value }}">
                    <label class="form-check-label" for="{{ name }}">
                        {{ name }}
                    </label>
                </div>
                {% endfor %}
                        <button class="btn mb-3 btn-info btn-block text-uppercase" type="submit">Continue to checkout
                        </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

<script>
var stripe = Stripe(v'pk_test_KVy08f3dhKSS7I7wvjD0BQHf003s3ZiB2F');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.on('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

</script>

{% endblock %}